@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap);body {
    font-family: "Roboto", sans-serif;
    color: #424242;
    background-color: #fafafa;
}

a,
span,
p {
    font-weight: 300 !important;
}

